<?xml version="1.0" encoding="utf-8" ?>
<PortalSettings>
  <InstanceInfo>
    <InstanceId>123</InstanceId>
    <Name>Solapur University</Name>
    <ShortName>SU</ShortName>
    <OtherLangName>
      <MR>सोलापुर यूनिवरसिटी</MR>
    </OtherLangName>
    <Address>Solapur-Pune National Highway, Kegaon</Address>
    <OtherLangAddress>
      <MR>सोलापुर-पुणे नाशनल हाईवे, केगांव</MR>
    </OtherLangAddress>
    <City>केगांव</City>
    <Phone>1111111</Phone>
    <Fax>22222222</Fax>
    <CountryCode>91</CountryCode>
  </InstanceInfo>
  <InstanceLogo>
    <Name>Logo.jpg</Name>
    <PreferredExtension>.jpg</PreferredExtension>
    <AltName>Solapur University Logo</AltName>
    <PreferredWidth>60</PreferredWidth>
    <PreferredHeight>60</PreferredHeight>
  </InstanceLogo>
  <InstanceCenterImage>
    <Name>CenterImage.jpg</Name>
    <PreferredExtension>.swf</PreferredExtension>
    <AltName>Center Image</AltName>
    <PreferredWidth>542</PreferredWidth>
    <PreferredHeight>129</PreferredHeight>
  </InstanceCenterImage>
</PortalSettings>